.auth-container{
    background-image: url("https://media.istockphoto.com/id/1859705965/video/business-arrow-up-growth-lines-technology-on-dark-blue-background-business-investment-to.jpg?s=640x640&k=20&c=6YhRW3Ik3RAMb3ZeR4iDIStj69IV43IZBldtk1eMCYg=");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-blure{
    backdrop-filter: blur(10px);
}
.auth-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 2.5rem;
  }